* {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

header {
    background: #1F2937;
    padding-bottom: 64px;
}

navbar {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    gap: 36px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

navbar .logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    margin-bottom: 48px;
}

header .hero {
    background: #1F2937;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 18px 0px;
}

.hero-copy {
    flex-basis: 480px;
}

main {

}

footer {

}